.collections-overview {
  section {
    margin: 2.5rem 0;

    &:last-of-type {
      margin-bottom: var(--window-bottom);
    }
  }

  .breadcrumb-container {
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
