$cart-item-height: calc(80px + 0.75rem + 0.75rem);
$cart-items-height: calc(#{$cart-item-height} * 3);

.cart-dropdown {
  position: absolute;
  width: 15rem;
  // height: 340px;
  display: flex;
  flex-direction: column;
  background-color: white;
  top: 57px;
  right: 0;
  z-index: 5;
  border-top: 1px solid var(--primary-10);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;

  .empty-message {
    margin: 1rem auto;
  }

  .cart-items {
    // height: 240px;
    max-height: $cart-items-height;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .cart-total {
    font-weight: bold;
    text-align: center;
    padding: 0.75rem;
    border-bottom: 1px solid var(--primary-10);
    border-top: 1px solid var(--primary-10);
  }

  button {
    // margin-top: auto;
    margin-top: 15px;
    width: 100%;
  }

  .btn-container {
    padding: 0.75rem;
  }
}
