.cart-icon {
  // width: 45px;
  // height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .icon-shopping-bag {
    width: 24px;
    height: 24px;
    pointer-events: none;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    bottom: 12px;
    pointer-events: none;
    font-family: var(--font-text-cond);
  }
}
