.homepage {
  .directory-menu {
    margin: var(--section-margin-y) auto;
  }

  .carousel-component {
    margin: var(--section-margin-y) auto 0;
  }

  h2 {
    font-size: 2.375rem;
  }
}

@media (max-width: 960px) {
  .homepage h2 {
    font-size: 2.125rem;
  }
}

@media (max-width: 400px) {
  .homepage h2 {
    font-size: 2rem;
  }
}
