@import "../../sharedStyles/breakpoints";

.checkout-item {
  width: 100%;
  border-bottom: 1px solid var(--primary-20);
  padding: 1rem 0;
  display: flex;

  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 8rem);
    gap: var(--bag-column-gap);
  }

  .item-img {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    margin-right: 1rem;
    border-radius: 2px;
    padding: 0.5rem;
    background: var(--primary-07);
  }

  .item-name {
    font-weight: var(--font-semibold);
    margin-bottom: 0.5rem;
    line-height: 1.25;
  }

  .item-option {
    font-size: 0.823rem;
    margin: 0 0 0.25rem;
    line-height: 1.25;
    color: var(--primary-65);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .option-category {
    text-transform: capitalize;
  }

  .original-price,
  .discounted-price {
    font-weight: var(--font-semibold);
  }

  .original-price.strikethrough {
    font-weight: var(--font-normal);
    text-decoration: line-through;
    font-size: 0.875rem;
    color: var(--primary-70);
  }

  .remove-button {
    cursor: pointer;
    padding: 0 0.5rem 0.5rem;
    transition: stroke 0.1s;
    stroke: var(--primary-50);
    stroke-width: 1px;
    display: flex;
    align-items: center;

    .icon {
      width: 1rem;
      height: 1rem;
    }

    &:hover {
      stroke: var(--primary-85);

      .remove-text {
        color: var(--primary-85);
        border-color: var(--primary-85);
      }
    }
  }

  .remove-text {
    display: none;
    margin-left: 0.375rem;
    font-size: 0.7rem;
    border-bottom: 0;
    line-height: 1.125;
    border-bottom: 1px solid var(--primary-30);
    color: var(--primary-50);
  }

  .icon-trash {
    width: 1rem;
    height: 1rem;
  }

  .stepper-container {
    height: 2.25rem;

    button {
      padding: 0.75rem;
    }

    .quantity {
      min-width: 1.25rem;
    }
  }
}

@media (max-width: $mobile-large) {
  .checkout-item {
    font-size: 0.9375rem;

    .item-img {
      width: 5rem;
      height: 5rem;
    }

    .content-wrapper {
      justify-content: space-between;
      width: calc(100% - 5rem);
      align-items: unset;
    }

    .remove-button {
      padding: 0;

      .icon {
        width: 0.875rem;
        height: 0.875rem;
        position: relative;
        bottom: 1px;
      }
    }

    .remove-text {
      display: block;
    }
  }
}

@media (max-width: 475px) {
  .checkout-item {
    .item-img {
      margin-right: 0.75rem;
    }
  }
}
