:root {
  /*-- color palette --*/
  --primary-100: #162245;
  --primary-90: #2e3957;
  --primary-80: #454f6a;
  --primary-70: #5c647c;
  --primary-60: #737a8f;
  --primary-50: #8a91a1;
  --primary-40: #a2a7b4;
  --primary-30: #b9bcc7;
  --primary-20: #d0d2d9;
  --primary-10: #e7e9ec;
  --red: #d86262;
  --accent-100: #95dbff;
  --accent-40: #d4f0fe;
  --accent-30: #dff4ff;
  --accent-20: #e9f7ff;
  --accent-10: #f4fbff;
  --black-60: #808285;
  --black-50: #939598;
  --black-40: #a7a9ac;
  --black-30: #bcbec0;
  --black-20: #d1d3d4;
  --black-10: #e6e7e8;
  --black-05: #f1f1f2;
  --black-03: #f6f6f6;
  --beige: #f4f3ee;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  /*-- typography --*/
  --font-text: "proxima_nova", Helvetica, sans-serif;
  --font-text-cond: "proxima_nova_condensedmedium", Helvetica, sans-serif;
  --font-display: "domaine_disp_nar", Helvetica, sans-serif;
  /*-- measurements --*/
  --nav-height: 70px;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
#app {
  height: 100%;
}

html {
  font-size: 17px;
}

body {
  font-family: var(--font-text);
  color: var(--primary-90);
}

#app {
  display: flex;
  flex-direction: column;
}

.content-window {
  flex: 1 0 auto;
  /* padding-bottom: 4rem; */
}

h1,
h2,
h3 {
  font-family: var(--font-display);
  letter-spacing: 0.3px;
  margin-bottom: 1rem;
  line-height: 1.25;
}

h1,
h2 {
  font-size: 2.125rem;
  transition: font-size 0.2s;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-family: var(--font-text);
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.75;
}

section {
  margin: 6rem auto;
}

div > *:first-child:not(section),
form > *:first-child {
  margin-top: 0;
}

div > *:last-child:not(section),
form > *:last-child {
  margin-bottom: 0;
}

.bold {
  font-weight: bold;
}

#app.overlay {
  overflow: hidden;
  height: 100vh;
}

#app:after {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
}

#app.overlay:after {
  visibility: visible;
  opacity: 1;
}

.page-width {
  max-width: 1320px;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1320px) {
  .page-width {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (max-width: 680px) {
  .page-width {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 430px) {
  h1,
  h2 {
    font-size: 1.8rem;
  }
}
