:root {
  /*-- color palette --*/
  --primary-100: #162245;
  --primary-90: #2e3957;
  --primary-85: #394460;
  --primary-80: #454f6a;
  --primary-70: #5c647c;
  --primary-60: #737a8f;
  --primary-50: #8a91a1;
  --primary-40: #a2a7b4;
  --primary-30: #b9bcc7;
  --primary-20: #d0d2d9;
  --primary-15: #dcdee3;
  --primary-10: #e7e9ec;
  --primary-07: #f0f1f3;
  --primary-05: #f3f4f5;
  --primary-03: #f8f8f9;
  --accent-100: #30c3e3;
  --accent-90: #3dd0f0;
  --accent-80: #33dbff;
  --accent-70: #4cdfff;
  --accent-50: #7de7ff;
  --accent-40: #99ecff;
  --accent-30: #c1ebfb;
  --accent-20: #dceffa;
  --accent-10: #e2f3fa;
  --black-60: #808285;
  --black-20: #d1d3d4;
  --red: #fc5c5f;
  --beige: #f4f3ee;
  --yellow: #fdbc35;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  --overlay: rgba(0, 0, 20, 0.4);
  /*-- typography --*/
  --font-text: "proxima_nova", Helvetica, sans-serif;
  --font-text-cond: "proxima_nova_condensedmedium", Helvetica, sans-serif;
  --font-display: "domaine_disp_nar", Helvetica, sans-serif;
  /*-- measurements --*/
  --nav-height: 65px;
  --window-top: 3rem;
  --window-bottom: 6rem;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
#app {
  height: 100%;
}

html {
  font-size: 17px;
}

body {
  font-family: var(--font-text);
  color: var(--primary-85);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
}

.content-window {
  flex: 1 0 auto;
  margin-top: var(--nav-height);
}

h1,
h2,
h3 {
  font-family: var(--font-display);
  letter-spacing: 0.25px;
  line-height: 1.25;
  font-weight: normal;
}

h1,
h2 {
  font-size: 2.125rem;
  transition: font-size 0.2s;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h4 {
  font-family: var(--font-text);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h1 + *,
h2 + *,
h3 + *,
h4 + * {
  margin-top: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.75;
}

section {
  width: 100%;
}

button {
  border: none;
  background: transparent;
  font-family: var(--font-text);
  padding: 0;
}

div > *:first-child:not(section),
form > *:first-child {
  margin-top: 0;
}

div > *:last-child:not(section),
form > *:last-child {
  margin-bottom: 0;
}

.bold {
  font-weight: bold;
}

#app:after {
  content: "";
  position: fixed;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  width: 100%;
  height: 100vh;
  background: var(--overlay);
  top: 0;
}

#app.dropdown-visible:after,
#app.cart-visible:after {
  visibility: visible;
  opacity: 1;
  top: var(--nav-height);
  height: calc(100vh - var(--nav-height));
}

.page-width {
  max-width: 1320px;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1320px) {
  .page-width {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (max-width: 800px) {
  :root {
    --nav-height: 60px;
    --window-top: 4vw;
    --window-bottom: 8vw;
  }

  /* hide shop dropdown and input dropdown elements on mobile */
  #app.shop-dropdown-visible,
  #app.input-visible {
    overflow: unset;
    height: 100%;
  }

  #app.dropdown-visible:after {
    visibility: hidden;
    opacity: 0;
  }
}

@media (max-width: 680px) {
  :root {
    --window-top: 1.5rem;
    --window-bottom: 3rem;
  }
  .page-width {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 16px;
  }
}
