:root {
  /*-- color palette --*/
  --red: #d86262;
  --gray-background: #f2f2f2;
  --gray-light: #c2c2c2;
  --gray-medium: #828282;
  --shadow-color: rgba(0, 0, 0, 0.2);
  /*-- typography --*/
  --bold: bold;
  --font-text: "Open Sans Condensed", sans-serif;
  /*-- measurements --*/
  --nav-height: 70px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  /* padding: 20px 60px 60px; */
}

a {
  text-decoration: none;
  color: black;
}

div > *:first-child,
form > *:first-child {
  margin-top: 0 !important;
}

div > *:last-child,
form > *:last-child {
  margin-bottom: 0 !important;
}

.bold {
  font-weight: bold;
}

#app.overlay {
  overflow: hidden;
  height: 100vh;
}

#app:after {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
}

#app.overlay:after {
  visibility: visible;
  opacity: 1;
}

.page-width {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 1599px) and (min-width: 1200px) {
  .page-width {
    padding-left: 55px;
    padding-right: 55px;
  }
}
