.favorites-page {
  display: flex;
  flex-direction: column;
  padding-top: var(--window-top);
  padding-bottom: var(--window-bottom);
  height: 100%;

  .title {
    font-size: 38px;
    margin: 0 auto;
  }

  .subtitle {
    margin-bottom: 30px;
    text-align: center;
  }

  .heart.inline {
    position: relative;
    top: 2px;
  }

  .empty-fav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
