.favorites-page,
.empty-fav-container {
  padding-top: var(--window-top);
  padding-bottom: var(--window-bottom);
  height: 100%;
}

.empty-fav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  text-align: center;
}
