.search-page {
  display: flex;
  flex-direction: column;

  .search-intro {
    margin-bottom: 1rem;
  }
}

// @media screen and (max-width: 800px) {
//   .collection-page {
//     .search-container {
//       grid-template-columns: 1fr 1fr;
//       grid-gap: 15px;
//     }
//   }
// }
