.search-page {
  display: flex;
  flex-direction: column;
  padding-top: var(--window-top);
  padding-bottom: var(--window-bottom);
  height: 100%;

  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .image-grid {
    margin-top: 2rem;
  }
}

// @media screen and (max-width: 680px) {
//   .search-page {
//     .image-grid {
//       margin-top: 1.5rem;
//     }
//   }
// }
