// ------------------------------ ProductPageOptions
.product-options-wrapper {
  margin: 1.5rem 0;
}

// ------------------------------ Category
.option-category-wrapper {
  + .option-category-wrapper {
    margin-top: 1.5rem;
  }

  .option-title {
    margin-bottom: 0.75rem;
    line-height: 1;
  }

  .option-title-category {
    font-weight: var(--font-bold);
    text-transform: capitalize;
  }

  .options-container {
    --gap: 0.675rem;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
  }
}

// ------------------------------ Option
.option-wrapper {
  --border-width: 1px;
  --selected-border-width: 2px;
  --color-swatch-size: 2rem;
  --color-swatch-margin: 0.3rem;
  --hover-border-color: var(--primary-60);
  display: flex;

  .image-swatch-container,
  .color-swatch {
    width: var(--color-swatch-size);
    height: var(--color-swatch-size);
    margin: var(--color-swatch-margin);
    position: relative;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(
        100% + (var(--color-swatch-margin) * 2 - var(--border-width) * 2)
      );
      height: calc(
        100% + (var(--color-swatch-margin) * 2 - var(--border-width) * 2)
      );
      transform: translate(-50%, -50%);
      border: var(--border-width) solid var(--primary-20);
      border-radius: 50%;
    }

    &:hover {
      &:after {
        border-color: var(--hover-border-color);
      }
    }

    &.selected {
      &:after {
        border: var(--selected-border-width) solid var(--primary-85);
        width: calc(
          100% +
            (var(--color-swatch-margin) * 2 - var(--selected-border-width) * 2)
        );
        height: calc(
          100% +
            (var(--color-swatch-margin) * 2 - var(--selected-border-width) * 2)
        );
      }
    }
  }

  .color-swatch,
  .image-swatch {
    border-radius: 50%;
  }

  .image-swatch {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--primary-20);
  }

  .image-swatch-overlay {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    mix-blend-mode: color;
  }

  .text-option-label {
    padding: 0.5rem 0.75rem;
    border: var(--border-width) solid var(--primary-30);
    cursor: pointer;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;

    &:hover {
      border-color: var(--hover-border-color);
    }

    &.selected {
      border: var(--selected-border-width) solid var(--primary-85);

      > span {
        font-weight: var(--font-bold);
      }
    }
  }
}
