.product-page {
  display: flex;
  max-width: 1200px;
  margin: var(--window-top) auto var(--window-bottom);

  .product-img {
    width: 100%;
    object-fit: contain;
    background-color: var(--primary-07);
    max-height: 575px;
    min-height: 320px;
    height: 50vw;
    padding: 2rem;
    // padding: 0;
  }

  .col-left {
    position: relative;
    flex-basis: 60%;
  }

  .col-right {
    margin-left: 2.5rem;
    flex-basis: 40%;
  }

  .product-detail {
    display: block;
    font-size: 0.875rem;

    &:not(:first-of-type) {
      margin-top: 0.5rem;
    }
  }

  .button-container {
    margin-top: 2rem;
    display: flex;
  }

  .stepper-component {
    margin-right: 1.5rem;
    .stepper-container {
      height: 2.75rem;
    }
  }

  .custom-button {
    flex-grow: 1;
    height: 2.75rem;
  }

  .spinner-overlay {
    width: 100%;
    background-color: var(--primary-07);
    max-height: 575px;
    min-height: 320px;
    height: 50vw;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (max-width: 925px) {
  .product-page {
    .col-right {
      margin-left: 2rem;
    }

    .col-left,
    .col-right {
      flex-basis: 50%;
    }

    .product-img,
    .spinner-overlay {
      height: 45vw;
    }
  }
}

@media (max-width: 800px) {
  .product-page {
    flex-direction: column;

    .col-right {
      margin: 1rem 0 0;
    }

    .product-img,
    .spinner-overlay {
      height: 90vw;
    }
  }
}

@media (max-width: 350px) {
  .product-page {
    .button-container {
      display: block;

      .custom-button {
        margin-top: 2rem;
        width: 100%;
      }
    }
  }
}
