.product-page {
  display: flex;
  max-width: 950px;
  margin: var(--window-top) auto var(--window-bottom);

  .product-img {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
  }

  .col-left,
  .col-right {
    flex-basis: 50%;
  }

  .col-right {
    margin-left: 2.5rem;
  }

  .collection-name {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--primary-60);
    font-size: 0.8rem;
  }

  .product-title {
    margin: 0.75rem 0 0.25rem;
  }

  .product-price {
    color: var(--accent-100);
    font-family: var(--font-text);
    font-weight: bold;
    margin: 1.25rem 0;
    font-size: 2rem;
  }

  .product-description {
    line-height: 1.75rem;
  }

  .product-detail {
    display: block;
    font-size: 0.875rem;

    &:not(:first-of-type) {
      margin-top: 0.5rem;
    }
  }

  .button-container {
    margin-top: 2rem;
    display: flex;
  }

  .stepper-component {
    margin-right: 1.5rem;
    .stepper-container {
      height: 2.75rem;
    }
  }

  .custom-button {
    flex-grow: 1;
    height: 2.75rem;
  }
}

@media (max-width: 750px) {
  // .button-container {
  //   flex-direction: column;
  // }

  // .custom-button {
  //   margin-top: 2rem;
  // }
  .product-page {
    flex-direction: column;

    .col-right {
      margin: 1rem 0 0;
    }

    .product-img {
      max-height: unset;
    }
  }
}
