@import "../../sharedStyles/breakpoints.scss";
@import "../../sharedStyles/functions.scss";

.collection-page {
  display: flex;
  flex-direction: column;

  .top-breadcrumb-container {
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .collection-items-container {
    padding-bottom: var(--window-bottom);
    background: var(--white);

    &.hero-image-margin {
      margin-top: scaleValue(300px, 500px, 1000px, 1600px);
      padding-top: 0.5rem;
    }
  }
}
