@import "../../sharedStyles/breakpoints.scss";

.collection-page {
  --hero-image-height: 300px;
  display: flex;
  flex-direction: column;

  .top-breadcrumb-container {
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .collection-items-container {
    padding-bottom: var(--window-bottom);
    background: var(--white);

    &.hero-image-margin {
      margin-top: var(--hero-image-height);
      padding-top: 0.5rem;
    }
  }
}
