$title-img-height: 280px;

.collection-page {
  display: flex;
  flex-direction: column;

  .title-banner {
    width: 100%;
    height: $title-img-height;
    color: white;
    text-align: center;
    position: fixed;
    backface-visibility: hidden;
    top: var(--nav-height);
    z-index: -1;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--primary-80);
      opacity: 0.4;
      top: 0;
      left: 0;
    }
  }

  .background-img {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
  }

  .title-content {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1.5rem;
  }

  .subtitle {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.75rem;
  }

  .title {
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 3rem;
    line-height: 1;
  }

  .collection-container {
    padding: 1.5rem 0 var(--window-bottom);
    margin-top: $title-img-height;
    background: #fff;
  }

  .select-component {
    width: 200px;
  }
}

@media (max-width: 450px) {
  .collection-page {
    .title-banner {
      position: relative;
      top: 0;
    }

    .collection-container {
      margin-top: 0;
      padding-top: 2rem;
    }

    .select-component {
      width: 100%;
    }
  }
}
