@import "../../sharedStyles/breakpoints.scss";

.collection-page {
  --hero-image-height: 300px;
  display: flex;
  flex-direction: column;

  .collection-items-container {
    padding-bottom: var(--window-bottom);
    padding-top: 1.5rem;
    background: #fff;
  }

  .hero-image-margin {
    margin-top: var(--hero-image-height);
  }
}
