.card {
  position: relative;
  transition: transform 0.3s linear, box-shadow 0.3s linear, opacity 0.3s linear;
  min-width: 25%;
  width: 25%;
  background-color: #fff;
  box-sizing: border-box;
  transform: scale(0.95);
  border-radius: 4px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(0.99);
    box-shadow: 0px 10px 26px 0 rgba(0, 0, 0, 0.2);
  }

  &.offscreen {
    transform: scale(0.85);
    opacity: 0;
  }

  .card-photo {
    display: block;
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    background-color: #dddddd;
  }
}

.card-footer {
  padding: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;

  .user-details-container {
    display: flex;
    align-items: center;
    max-width: 75%;
  }

  .user-pic {
    border-radius: 50%;
    margin-right: 0.5rem;
    width: 32px;
    height: 32px;
    background-color: #dddddd;
  }

  .user-details {
    text-align: left;
    color: var(--primary-80);

    span {
      display: block;
    }
  }

  .user-name {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .user-location {
    color: var(--primary-50);
    font-weight: 300;
    font-size: 0.73rem;
  }

  .user-likes {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--primary-80);
  }

  .like-count {
    margin-left: 0.25rem;
  }

  .icon-heart {
    color: var(--red);
    width: 15px;
    height: 15px;
  }
}

// 1100 - 1300: 1/4
// @media (max-width: 1300px) {
//   .card {
//     min-width: 25%;
//     width: 25%;
//   }
// }
// 926-1200: 3 cards
@media (max-width: 1200px) {
  .card {
    min-width: calc(100% / 3);
    width: calc(100% / 3);
  }
}
// 650-925: 2 cards
@media (max-width: 925px) {
  .card {
    min-width: 50%;
    width: 50%;

    .card-photo {
      height: 35vw;
    }
  }
}
// 0-650px: 1 card
@media (max-width: 600px) {
  .card {
    min-width: 100%;
    width: 100%;
    border-radius: 0;
    transform: none;
    &:hover {
      transform: none;
      box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    }
    .card-photo {
      border-radius: 0;
    }

    .card-photo {
      height: 350px;
    }
  }
}
