.shop-dropdown {
  background: white;
  border-top: 1px solid var(--primary-15);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 2px 2px;
  position: absolute;
  top: var(--nav-height);
  width: 250px;
  line-height: 1.25;
  left: 0;

  li:not(:last-of-type) {
    border-bottom: 1px solid var(--primary-05);
  }

  .shop-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    padding: 0rem 1rem;
    height: 50px;
    color: var(--primary-80);
    font-weight: bold;
    transition: background-color 0.2s;

    &:hover {
      [class*="icon-"]:not(.icon-arrow-right) {
        color: var(--accent-100);
      }
    }
  }

  .link-content {
    display: flex;
    align-items: center;
  }

  [class*="icon-"]:not(.icon-arrow-right) {
    width: 32px;
    display: flex;
    margin-right: 0.75rem;
    justify-content: center;
    color: var(--primary-50);
    transition: color 0.2s;
  }

  .icon-arrow-right {
    width: 12px;
    height: 12px;
    color: var(--primary-20);
    pointer-events: none;
  }

  .icon-bedding {
    height: 23px;
  }

  .icon-chairs {
    height: 30px;
  }

  .icon-lighting,
  .icon-decor {
    height: 24px;
  }

  .icon-sofas {
    height: 25px;
  }

  .icon-tables {
    height: 23px;
  }
}
