.shop-dropdown {
  padding: 1rem;
  background: white;
  border-top: 1px solid var(--primary-15);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
  // font-size: 0.875rem;
  border-radius: 0 0 2px 2px;
  position: absolute;
  top: 70px;
  width: 175px;
  line-height: 1.25;
  left: 0;

  li:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  .shop-link {
    display: block;
  }
}
