.product-dimensions {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    width: 50%;
  }

  th {
    display: none;
  }

  .dimension-row {
    &:nth-child(odd) {
      background-color: var(--primary-03);
    }

    td {
      padding: 0.5rem;
    }
  }
}
