.product-tag {
  .product-detail-tag {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--primary-65);
    font-size: 0.8rem;
    display: block;
    margin-bottom: 0.75rem;
  }

  .collection-item-tag {
    font-size: 0.675rem;
    font-weight: var(--font-bold);
    color: var(--primary-70);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 0.25rem;
  }
}
