.stepper-component {
  display: inline-block;
  // border: 1px solid var(--primary-30);

  .stepper-container {
    display: flex;
    align-items: center;
    height: 2.5rem;
    border: 1px solid var(--primary-20);
    border-radius: 5px;
  }

  button {
    padding: 1rem;
    // background: var(--primary-10);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    color: var(--primary-90);

    &:disabled {
      // background: red;
      cursor: unset;
      color: var(--primary-30);
    }

    &:active {
      background: var(--primary-10);
    }
  }

  .quantity-decrease {
    border-radius: 5px 0 0 5px;
    // border-right: 1px solid var(--primary-30);
  }
  .quantity-increase {
    border-radius: 0 5px 5px 0;
    // border-left: 1px solid var(--primary-30);
  }

  .icon {
    width: 0.75rem;
    height: 0.75rem;
  }

  .quantity {
    min-width: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-top: 1px solid var(--primary-10);
    // border-bottom: 1px solid var(--primary-10);
  }
}
