.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem 1.5rem;
}

@media (max-width: 975px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem 1rem;
  }
}

@media (max-width: 599px) {
  .image-grid {
    .favorite-button {
      top: 0.5rem;
      right: 0.5rem;
      width: 1.875rem;
      height: 1.875rem;
    }

    .heart {
      width: 16px;
      height: 14px;
    }
  }
}
