.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem 1rem;
}

@media (max-width: 975px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 1rem;
  }
}

@media (max-width: 499px) {
  .image-grid {
    .favorite-button {
      display: none;
    }
  }
}
