.checkout-page-container {
  .checkout-background-screen {
    background-color: var(--primary-07);
  }

  .checkout-page-content {
    padding-top: var(--window-top);
    padding-bottom: var(--window-bottom);
    height: 100%;
  }

  .checkout-flex-container {
    display: flex;
    gap: 2rem;
  }

  .white-background-container {
    background-color: var(--white);
    padding: 2rem;
  }

  .summary-column {
    flex-basis: 33.3%;
    max-width: 25rem;
  }
}

@media (max-width: 1200px) {
  .checkout-page {
    // --cart-col-gap: 2.75vw;

    .checkout-flex-container {
      gap: 4.25vw;
    }

    .summary-column {
      flex-basis: 33%;
      min-width: 300px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .checkout-page {
    .checkout-flex-container {
      gap: 1.5rem;
    }

    .checkout-flex-container {
      flex-direction: column;
    }

    .summary-column {
      margin-left: 0;
      width: 100%;
      max-width: unset;
      display: flex;
      gap: var(--checkout-col-gap);
      flex-direction: row-reverse;
      align-items: flex-start;
    }

    .checkout-summary-wrapper,
    .promo-container {
      flex: 1;
    }

    .checkout-summary-wrapper {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 750px) {
  .checkout-page {
    .summary-column {
      display: block;
    }
  }
}

@media (max-width: 650px) {
  .checkout-page {
    // --cart-col-gap: 0;

    .checkout-summary-wrapper {
      margin-bottom: 1.5rem;
    }
  }
}
