:root {
  --grid-gap: 2.5rem;
}

.checkout-page {
  padding-top: var(--window-top);
  padding-bottom: var(--window-bottom);
  height: 100%;

  .max-width {
    max-width: 62rem;
    margin: 0 auto;
  }

  .title {
    font-size: 2rem;
  }

  .empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .checkout-wrapper {
    display: flex;
  }

  .left-col {
    flex: 1;
  }

  .right-col {
    width: 20rem;
    margin-left: 2rem;
    transition: width 0.2s;
  }

  .checkout-header {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primary-20);
    border-top: 1px solid var(--primary-20);
  }

  .header-block {
    display: flex;
    align-items: center;

    span {
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 1.5px;
      color: var(--primary-60);
    }
  }

  [class^="col-"] {
    transition: margin 0.3s;
  }

  .col-description {
    flex: 1;
    margin-right: var(--grid-gap);
  }

  .col-qty {
    min-width: 6rem;
    margin-right: var(--grid-gap);
    display: flex;
    justify-content: center;
  }

  .col-price {
    width: 2.75rem;
    margin-right: calc(var(--grid-gap) - 0.5rem);
    display: flex;
    justify-content: center;
  }

  .col-delete {
    width: 2rem;
  }

  .price {
    font-weight: bold;
    position: relative;
    top: 1px;
  }

  .summary-container,
  .promo-container {
    width: 100%;
  }

  .summary-container {
    margin-bottom: 1rem;
    display: flex;
    background: var(--primary-05);
    flex-wrap: wrap;
    padding: 1rem;

    .label,
    .amount {
      display: inline-block;
      flex-basis: 50%;
    }

    .summary-title {
      flex-basis: 100%;
      margin: 0 0 1rem;
      font-family: var(--font-text);
      letter-spacing: 0;
      font-size: 1.125rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    span:not(.total) {
      margin-bottom: 0.75rem;
    }

    span:last-of-type {
      margin: 1.5rem 0 0;
      width: 100%;
    }

    .custom-button {
      width: 100%;
    }

    .amount {
      text-align: right;
    }

    .promo {
      color: var(--red);
    }

    .total {
      border-top: 1px solid var(--primary-85);
      padding: 0.75rem 0 0;
      font-weight: bold;
    }
  }
}

@media (max-width: 1050px) {
  :root {
    --grid-gap: 2rem;
  }

  .checkout-page {
    .right-col {
      width: 18rem;
    }
  }
}

@media screen and (max-width: 975px) {
  :root {
    --grid-gap: 3.5rem;
  }
  .checkout-page {
    .checkout-wrapper {
      display: block;
    }

    .right-col {
      margin-left: 0;
      width: 100%;
      margin-top: 1.5rem;
      transition: none;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
    }

    .summary-container {
      margin-left: 1.5rem;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 760px) {
  :root {
    --grid-gap: 2rem;
  }

  .checkout-page {
    .right-col {
      display: block;
    }

    .summary-container {
      margin-left: 0;
      margin-bottom: 1.5rem;
    }
  }
}

@media (max-width: 650px) {
  :root {
    --grid-gap: 0.75rem;
  }

  .checkout-page {
    .checkout-header {
      display: none;

      + .checkout-item {
        border-top: 1px solid var(--primary-20);
      }
    }

    [class^="col-"] {
      transition: none;
    }

    .col-description {
      // 100% - photo and margin
      flex-basis: calc(100% - 3.5rem);
      order: 1;
      line-height: 1.375;
      margin-bottom: 0.35rem;
    }

    .col-price {
      order: 2;
      margin: 0;
      justify-content: flex-end;
    }

    .col-delete {
      order: 3;
      align-self: flex-end;
      width: unset;
    }

    .col-qty {
      order: 4;
      margin: 0;
      align-self: flex-end;
    }
  }
}
