.star-rating-wrapper {
  display: inline-block;

  .star-rating {
    display: flex;
    align-items: center;
  }

  .stars-background,
  .stars-fill {
    display: flex;
  }

  .stars-background {
    position: relative;
    color: var(--primary-20);
  }

  .star {
    display: grid;
    place-content: center;

    &:not(:last-of-type) {
      margin-right: 0.125rem;
    }
  }

  .stars-fill {
    position: absolute;

    .icon-star {
      color: var(--yellow);
    }
  }
}
