.star-rating {
  display: flex;
  align-items: center;

  // .rating-list {
  //   display: flex;
  //   padding: 0;
  //   margin: 0;
  //   align-items: center;
  // }

  // .star {
  //   color: var(--primary-20);

  //   // &.shaded {
  //   //   color: var(--yellow);
  //   // }

  //   // &:not(:first-of-type) {
  //   //   margin-left: 0.25rem;
  //   // }
  // }

  .stars-background,
  .stars-fill {
    display: flex;
  }

  .stars-background {
    position: relative;
    color: var(--primary-20);

    // .icon-star:not(:first-of-type) {
    //   margin-left: 0.25rem;
    // }
  }

  .stars-fill {
    position: absolute;

    .icon-star {
      color: var(--yellow);
    }
  }

  // .star {
  //   line-height: 0;
  // }

  .icon-star {
    width: 20px;
    height: 16px;
  }

  .review-count {
    margin-left: 0.75rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--primary-40);
  }
}
