/** Proxima Nova **/
@font-face {
  font-family: "proxima_nova";
  src: url("proximanova-regular-webfont.woff2") format("woff2"),
    url("proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "proxima_nova";
  src: url("proximanova-bold-webfont.woff2") format("woff2"),
    url("proximanova-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "proxima_nova_xcond";
  src: url("proxima_nova_extra_condensed_light.woff2") format("woff2"),
    url("proxima_nova_extra_condensed_light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'proxima_nova_semibold';
  src: url('proximanova-semibold-webfont.woff2') format('woff2'),
    url('proximanova-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "domaine_disp_nar";
  src: url("DomaineDispNarSemibold.woff2") format("woff2"),
    url("DomaineDispNarSemibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
