.search-input-container {
  animation: drop-down 0.5s ease forwards;

  &.hidden {
    animation: slide-up 0.5s ease forwards;
  }
}

@keyframes drop-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    height: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    height: 42px;
  }
}

@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translateY(0);
    height: 42px;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
    height: 0;
  }
}

.search-input {
  border: 1px solid;
  border-color: var(--gray-light);
  font-family: var(--font-text);
  font-size: 18px;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 0px 2px var(--gray-light);
  }

  &:focus {
    outline: none;
    border-color: var(--gray-medium);
    box-shadow: 0px 0px 0px 2px var(--gray-medium);
  }
}
