.search-drawer {
  // animation: drop-down 0.5s ease forwards;
  background-color: var(--black-05);
  height: var(--nav-height);
  top: 0px;
  position: absolute;
  width: 100%;
  transition: top 0.5s ease;

  &.hidden {
    animation: slide-up 0.5s ease forwards;
    top: calc(0px - var(--nav-height));
  }

  button {
    border: none;
    background: none;
    padding: 0;
  }
}

.search-wrapper {
  display: flex;
  height: 100%;
  align-items: center;

  .icon-search {
    position: absolute;
    margin-left: 1rem;
  }
}

.form-wrapper {
  flex: 1;
  position: relative;

  .search-form {
    flex: 1;
  }
}

.search-input,
.close-button {
  border-radius: 3px;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 0px 2px var(--black-20);
  }
}

.search-input {
  border: none;
  font-family: var(--font-text);
  background-color: transparent;
  font-size: 18px;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  position: relative;
  width: 100%;
}

.search-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.close-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;

  .icon-close {
    fill: var(--black-50);
    transition: fill 0.3s ease-in-out;
    pointer-events: none;
    width: 18px;
    height: 18px;
  }

  &:focus,
  &:hover {
    .icon-close {
      fill: black;
    }
  }
}
