.search-drawer {
  background-color: #fff;
  height: var(--nav-height);
  top: 0px;
  position: absolute;
  width: 100%;
  transition: top 0.5s ease;
  color: var(--primary-85);

  &.hidden {
    animation: slide-up 0.5s ease forwards;
    top: calc(0px - var(--nav-height));
  }

  button {
    border: none;
    background: none;
    padding: 0;
  }

  .search-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .icon-search {
    position: absolute;
    margin-left: 1rem;
  }

  .form-wrapper {
    flex: 1;
    position: relative;
  }

  .search-form {
    flex: 1;
  }

  .search-input,
  .close-button {
    border-radius: 3px;
    transition: box-shadow 0.2s ease-in-out, color 0.3s ease-in-out;
  }

  .search-input {
    border: none;
    font-family: var(--font-text);
    background-color: transparent;
    font-size: 18px;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 0px 1px var(--primary-20);

    &:hover {
      box-shadow: 0px 0px 0px 1px var(--primary-50);
    }
  }

  ::placeholder {
    color: var(--primary-40);
  }

  .search-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .close-button {
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    color: var(--primary-30);

    &:focus,
    &:hover {
      color: var(--primary-60);
    }
  }

  .icon-close {
    pointer-events: none;
    width: 18px;
    height: 18px;
  }
}
