.breadcrumb-wrapper {
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
  color: var(--primary-65);

  .breadcrumb-list-item {
    display: inline;
  }

  .collection-id {
    text-transform: capitalize;
  }

  .breadcrumb-slash {
    margin: 0 0.5em;
    color: var(--primary-40);
  }

  a {
    &:hover {
      text-decoration: underline;
      color: var(--primary-85);
    }
  }
}
