.promo-banner {
  background-color: var(--accent-100);
  color: #fff;
  text-align: center;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.5px;

  transition: opacity 0.2s;

  .promo-static-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .promo-static-slide,
  .promo-slideshow {
    min-height: 3rem;
    padding: 0 1.5rem;
  }

  .promo-text {
    transition: opacity var(--transition-duration),
      transform var(--transition-duration);
  }

  .promo-slideshow {
    --transition-duration: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slideshow-nav-buttons {
    --button-size: 0.25rem;
    bottom: 0.4rem;
  }

  .nav-button {
    background-color: var(--white);
    opacity: 0.6;
    transition: opacity var(--transition-duration);

    &.active {
      width: var(--button-size);
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }

  [class*="slide-"] {
    position: absolute;
    overflow: hidden;

    &.active {
      .promo-text {
        animation: slideIn 0.5s ease forwards;
      }
    }

    &.inactive {
      .promo-text {
        animation: slideOut 0.5s ease forwards;
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0.5;
  }
}

@media (max-width: 650px) {
  .promo-banner {
    font-size: 0.75rem;
  }
}
