@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: var(--primary-90);
}

.form-input-container {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--primary-85);
  display: flex;

  + .form-input-container {
    margin: 2rem 0;
  }

  .form-input {
    background: none;
    background-color: transparent;
    color: var(--primary-85);
    font-size: 1rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    font-family: var(--font-text);

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  ::placeholder {
    color: var(--primary-60);
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: var(--primary-50);
    font-size: 0.95rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}

form > .group:not(:first-of-type) {
  margin: 2.5rem 0;
}

// remove default background color for autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--accent-10) inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  font-family: var(--font-text);
}
