@import "../../sharedStyles/breakpoints.scss";

.section-heading-wrapper {
  text-align: left;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  .heading {
    display: inline;
    margin-bottom: 0;
  }

  .subheading {
    display: inline-block;
    margin-left: 1rem;
  }

  .custom-button {
    flex-shrink: 0;
    margin-bottom: 0.25rem;
  }
}

@media (max-width: $tablet) {
  .section-heading-wrapper {
    .heading,
    .subheading {
      display: block;
    }

    .heading {
      margin-bottom: 0.25rem;
    }

    .subheading {
      margin-left: 0;
    }
  }
}

@media (max-width: $mobile) {
  .section-heading-wrapper {
    .heading {
      margin-bottom: 0;
    }

    .subheading {
      display: none;
    }
  }
}
