.sign-in-component {
  width: 100%;
  display: flex;
  flex-direction: column;

  form {
    margin-top: 1.5rem;
  }

  .buttons {
    display: flex;
    margin-top: 3rem;

    button {
      flex: 1;
      padding-right: 1rem;
      padding-left: 1rem;

      &:first-of-type {
        margin-right: 1rem;
      }
    }
  }

  .icon-google {
    width: 15px;
    height: 15px;
    margin-right: 0.5rem;
  }

  .error {
    font-style: italic;
    font-size: 0.75rem;
    margin-top: 1rem;
    color: var(--red);
    display: block;
  }
}

@media (max-width: 580px) {
  .sign-in-component {
    .buttons {
      button {
        flex: unset;
        &:first-of-type {
          flex: 1;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .sign-in-component {
    .buttons {
      flex-direction: column;

      button:first-of-type {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}
