.newsletter-signup {
  margin: 2rem auto;
  max-width: 1680px;
  background: #ddd;
  width: 100%;
  text-align: center;
  height: 30vw;
  max-height: 25rem;
  min-height: 18rem;
  display: flex;
  align-items: center;

  .newsletter-img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .newsletter-form {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }

  .newsletter-container {
    display: flex;
    justify-content: center;
  }

  .mc-status {
    font-style: italic;
    font-size: 0.75em;
    margin-bottom: 1em;

    &:focus {
      outline: none;
    }

    .success-message {
      color: green;
    }

    .error-message {
      color: red;
    }
  }
}

@media (max-width: 650px) {
  .newsletter-signup {
    flex-direction: column;
    min-height: 35rem;

    .newsletter-img,
    .newsletter-form {
      width: 100%;
      height: 50%;
    }
  }
}
