.newsletter-signup {
  margin: 2rem auto;
  background: var(--accent-20);
  width: 100%;
  text-align: center;
  height: 30vw;
  max-height: 375px;
  min-height: 18rem;
  display: flex;
  align-items: center;
  position: relative;

  .img-container {
    height: calc(100% + 15px);
    margin-top: -15px;
    overflow: hidden;
  }

  .newsletter-img {
    height: 110%;
    object-fit: contain;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    visibility: hidden;

    &.visible {
      animation-name: bounceInUp;
      visibility: visible;
    }
  }

  .content-wrapper {
    height: 100%;
    display: flex;
    max-width: 1150px;
    justify-content: space-around;
  }

  .newsletter-form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .btn-container {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;

    button {
      width: 100%;
    }
  }

  .mc-status {
    font-style: italic;
    font-size: 0.75em;
    margin-top: 0.5rem;

    &:focus {
      outline: none;
    }
  }

  .success-message {
    color: var(--primary-85);
    font-weight: bold;
    font-size: 0.875rem;
  }

  .error-message {
    color: var(--red);
    position: absolute;
    width: 100%;
  }

  .spinner-overlay {
    height: unset;

    .spinner-container {
      width: 20px;
      height: 20px;
      border: 2px solid var(--primary-30);
      border-top-color: var(--primary-85);
    }
  }
}

@media (max-width: 960px) {
  .newsletter-signup {
    .newsletter-form {
      width: 340px;
    }
    .content-wrapper {
      max-width: 900px;
    }
  }
}

@media (max-width: 800px) {
  .newsletter-signup {
    height: unset;
    max-height: unset;
    min-height: unset;

    .content-wrapper {
      flex-direction: column-reverse;
      align-items: center;
    }

    .img-container {
      max-height: 315px;
      max-width: 25rem;
      margin: 0;
    }

    .newsletter-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    .newsletter-form {
      width: 100%;
      padding: 4rem 0;
    }
  }
}

@keyframes bounceInUp {
  from,
  50%,
  60%,
  70%,
  80%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }

  60% {
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }

  70% {
    transform: translate3d(0, -6px, 0) scaleY(0.985);
  }
  80% {
    transform: translate3d(0, 4px, 0) scaleY(1);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
