.landing {
  position: relative;
  margin-bottom: 0;
  height: 45vw;
  min-height: 500px;
  max-height: 700px;

  .landing-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .landing-txt-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .landing-txt-inner {
    width: 50%;
    max-width: 500px;
  }

  .landing-subtitle {
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size: 0.75rem;
    display: block;
    opacity: 0;
    color: var(--accent-50);

    // name / duration / function / delay / iterations / direction
    animation: fadeInUp 1s ease 0.25s 1 forwards;
  }

  .landing-title {
    margin: 1rem 0 1rem;
    font-size: 3.6rem;
    // letter-spacing: 1px;
    line-height: 1.08;
    transition: font-size 0.2s, margin 0.2s, opacity 3.2s;
    opacity: 0;
    animation: fadeInUp 1.25s ease 0.45s 1 forwards;
  }

  .landing-txt {
    text-align: left;
    color: #fff;
    padding-bottom: 6rem;
    transition: padding 0.2s;
  }

  .landing-intro {
    margin: 0;
    line-height: 1.75;
    transition: line-height 0.2s;
    color: var(--primary-30);
    opacity: 0;
    animation: fadeInUp 1.5s ease 0.65s 1 forwards;
  }

  .custom-button {
    margin-top: 2rem;
    opacity: 0;
    animation: fadeInUp 1.75s ease 0.85s 1 forwards;
    border-color: var(--accent-50);
    color: var(--accent-50);
  }
}

// reduce title size
@media (max-width: 1230px) {
  .landing {
    .landing-txt {
      padding-bottom: 5rem;
    }

    .landing-title {
      font-size: 3.4rem;
      margin-bottom: 0.8rem;
    }

    .custom-button {
      margin-top: 1.8rem;
    }
  }
}

@media (max-width: 1130px) {
  .landing {
    .landing-title {
      font-size: 3.3rem;
    }
  }
}

// reduce title size
@media (max-width: 1010px) {
  .landing {
    .landing-txt {
      padding-bottom: 5.5rem;
    }

    .landing-title {
      font-size: 5.5vw;
      margin-bottom: 1vw;
    }

    .custom-button {
      margin-top: 1.875rem;
    }
  }
}

@media (max-width: 972px) {
  .landing {
    .landing-intro {
      line-height: 1.675;
    }
  }
}

@media (max-width: 840px) {
  .landing {
    .landing-title {
      font-size: 2.75rem;
      margin-bottom: 0.5rem;
    }

    .landing-txt-inner {
      width: 375px;
    }
  }
}

// change to vertical view
@media (max-width: 700px) {
  .landing {
    // set full vh (still min 500, max 700
    height: calc(100vh - var(--nav-height));
    min-height: 630px;
    max-height: 650px;

    // position top
    .landing-txt-container {
      align-items: flex-start;
    }

    // set distance from top
    .landing-txt {
      padding-bottom: 0;
      padding-top: 8vw;
    }

    .landing-txt-inner {
      width: 390px;
    }

    // set position to bottom of image
    .landing-img {
      object-position: bottom;
    }

    .landing-title {
      font-size: 3rem;
    }
  }
}

@media (max-width: 475px) {
  .landing {
    // set full width
    .landing-txt-inner {
      width: 100%;
    }
  }
}

// mobile
@media (max-width: 450px) {
  .landing {
    // set image full height
    min-height: 530px;

    // set text full width
    .landing-txt-inner {
      width: 100%;
    }

    .landing-txt {
      padding-top: 2rem;
    }

    .landing-title {
      font-size: 10.875vw;
    }
  }
}

@media (min-width: 1600px) {
  .landing {
    // set position to bottom of image
    .landing-img {
      object-position: bottom;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
