.carousel-component {
  .carousel-text {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 49rem;
  }

  .carousel.carousel.page-width {
    max-width: 1340px;
  }

  .carousel {
    overflow: hidden;
    margin-top: calc(3rem - 25px);
    margin-bottom: calc(6rem - 50px);
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }

  .cards-slider {
    position: relative;
    // margin-left and right match .page-width values
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .cards-slider-wrapper {
    display: flex;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .circle-button {
    border: none;
    margin: 0;
    padding: 0;
    width: 45px;
    height: 45px;
    overflow: visible;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: var(--primary-40);
    transition: color 0.3s ease, opacity 0.3s ease;
    top: 50%;
    margin-top: -45px;

    &:hover,
    &:focus {
      color: var(--primary-85);
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      opacity: 0%;
    }

    &.right {
      right: 1.2rem;
    }

    &.left {
      left: 1.2rem;
    }

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }

  .icon {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 1320px) {
  .carousel-component {
    .cards-slider {
      margin-left: 4%;
      margin-right: 4%;
    }
  }
}

@media (max-width: 800px) {
  .carousel-component {
    .carousel {
      margin-top: 23px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 680px) {
  .carousel-component {
    .cards-slider {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
}

@media (max-width: 600px) {
  .carousel-component {
    .cards-slider {
      margin: 0;
    }
    .circle-button {
      &.right {
        right: 1.5rem;
      }
      &.left {
        left: 1.5rem;
      }
    }
  }
}
