.favorite-button {
  background: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .heart path {
    fill: #c4c4c4;
  }

  &.favorite {
    .heart path {
      fill: red;
    }
  }
}

.test {
  p {
    color: red;
    font-size: 0.7rem;
    position: absolute;
    background: white;
    right: 4rem;
    padding: 10px;
  }
}
