.favorite-button {
  background: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .heart {
    position: relative;
    top: 1px;

    path {
      fill: var(--primary-20);
    }
  }

  &.favorite {
    .heart path {
      fill: var(--red);
    }
  }
}

@media (min-width: 600px) {
  .favorite-button {
    &:hover {
      .heart path {
        fill: var(--red);
      }
    }

    &.favorite:hover {
      .heart path {
        fill: var(--primary-20);
      }
    }
  }
}
