.favorite-button {
  background: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .heart path {
    fill: var(--primary-20);
  }

  &:hover {
    .heart path {
      fill: var(--red);
    }
  }

  &.favorite {
    background-color: var(--red);

    .heart path {
      fill: #fff;
    }

    &:hover {
      background: #fff;

      .heart path {
        fill: var(--red);
      }
    }
  }
}
