.collection-preview {
  display: flex;
  flex-direction: column;

  &:hover {
    .preview-wrapper {
      overflow-x: auto;
    }
  }

  .title {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    cursor: pointer;
    margin-top: 0;
  }

  .preview-wrapper {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 1rem;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;

    .image,
    .spinner-overlay {
      height: 25vw;
      width: 25vw;
      max-height: calc(1167px / 3.5);
      max-width: calc(1167px / 3.5);
      min-height: 250px;
      min-width: 250px;
    }
  }

  .collection-footer {
    display: block;

    > span {
      display: block;
    }
  }

  .price {
    margin-left: 0;
    margin-top: 0.25rem;
  }

  .view-all {
    margin: 0 0.5rem;
    padding: 1rem;
    font-size: 0.9rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-85);
    cursor: pointer;

    &:hover {
      .circle {
        border-color: var(--primary-85);
      }
    }
  }

  .circle {
    border-radius: 50%;
    background: #fff;
    margin-bottom: 0.5rem;
    transition: border-color 0.2s;
    border: 1px solid var(--primary-20);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-arrow-right-long {
    width: 20px;
    height: 20px;
  }
}
