.custom-button {
  padding: 0.75rem 2.25rem;
  font-size: 0.9rem;
  background-color: var(--primary-85);
  color: white;
  // text-transform: uppercase;
  font-family: var(--font-text);
  border: 1px solid;
  border-color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: border-color 0.3s ease, background-color 0.3s ease,
    color 0.3s ease;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;

  &:hover {
    background-color: var(--primary-100);
    // color: inherit;
  }

  &:disabled {
    background-color: #ddd;
    color: #aaa;
  }

  &.google-sign-in {
    background-color: #fff;
    color: var(--black-60);
    border-color: var(--black-20);

    &:hover {
      border-color: var(--black-60);
    }
  }

  &.inverted {
    background-color: transparent;
    color: inherit;
    border: 2px solid inherit;

    &:hover {
      background-color: var(--primary-85);
      color: white;
    }
  }
}
