.custom-button {
  padding: 0.75rem 2.25rem;
  font-size: 0.9rem;
  background-color: var(--primary-85);
  color: white;
  font-family: var(--font-text);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: border-color 0.3s ease, background-color 0.3s ease,
    color 0.3s ease;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;

  &:hover {
    background-color: var(--primary-100);
  }

  &:disabled {
    background-color: var(--primary-10);
    color: var(--primary-40);
  }

  &.google-sign-in {
    background-color: #fff;
    color: var(--black-60);
    border: 1px solid var(--black-20);

    &:hover {
      border-color: var(--black-60);
    }
  }

  &.inverted {
    background-color: transparent;
    color: inherit;
    border: thin solid;

    // &:hover {
    //   background-color: var(--primary-85);
    //   color: white;
    // }
  }

  &.inline {
    background: none;
    color: var(--primary-85);
    padding: 10px;

    &:disabled {
      color: var(--primary-40);
      cursor: default;
    }
  }
}
