.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .product-link {
    width: 100%;
  }

  .image,
  .spinner-overlay {
    width: 100%;
    height: 33vw;
    max-height: 420px;
    min-height: 170px;
    background-color: var(--primary-07);
  }

  .spinner-overlay {
    position: absolute;
  }

  .image {
    object-fit: contain;
    padding: 1.5rem;
    display: block;
  }

  &:hover {
    .image {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .collection-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    line-height: 1.25;
    margin-top: 0.5rem;
  }

  .price {
    font-weight: bold;
    position: relative;
    line-height: 1.5;
    margin-left: 1rem;
  }
}

@media (max-width: 975px) {
  .collection-item {
    .image,
    .spinner-overlay {
      height: 45vw;
    }
  }
}

@media (max-width: 600px) {
  .collection-item {
    .collection-footer {
      display: block;

      > span {
        display: block;
      }
    }

    .price {
      margin-left: 0;
      margin-top: 0.25rem;
    }
  }
}
