.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .product-link {
    width: 100%;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .image,
  .spinner-overlay {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--primary-07);
  }

  .spinner-overlay {
    position: absolute;

    > .spinner-container {
      border: 3px solid var(--primary-20);
      border-top-color: var(--primary-60);
    }
  }

  .image {
    object-fit: contain;
    padding: 1.5rem;
    display: block;
  }

  .collection-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    line-height: 1.25;
    margin-top: 0.5rem;
  }

  .price {
    font-weight: var(--font-bold);
    position: relative;
    line-height: 1.5;
    margin-left: 1rem;
  }
}

@media (max-width: 600px) {
  .collection-item {
    .collection-footer {
      display: block;

      > span {
        display: block;
      }
    }

    .price {
      margin-left: 0;
      margin-top: 0.25rem;
    }
  }
}
