.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .product-link {
    width: 100%;
    position: relative;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .image,
  .spinner-overlay {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--primary-07);
  }

  .image {
    object-fit: contain;
    padding: 1.5rem;
    display: block;
  }

  .collection-item-footer {
    width: 100%;
    line-height: 1.25;
    margin-top: 1rem;

    span {
      display: block;
    }

    a {
      display: inline-block;
      position: relative;
    }
  }

  .collection-item-name {
    margin-bottom: 0.25rem;
  }

  .collection-item-price {
    font-size: 0.875rem;
  }

  .collection-item-more-options {
    font-size: 0.75rem;
    margin-top: 0.5rem;
    color: var(--primary-65);
  }
}

@media (max-width: 600px) {
  .collection-item {
    .collection-footer {
      display: block;

      > span {
        display: block;
      }
    }

    .price {
      margin-left: 0;
      margin-top: 0.25rem;
    }
  }
}
