.promo-container {
  padding: 0.25rem 1.5rem;
  background-color: var(--white);
  width: 100%;

  .promo-form {
    display: flex;

    input {
      width: 100%;
      border: none;
      height: 100%;
      font-size: 0.9rem;
    }
  }

  .custom-button {
    margin-left: 0.5rem;
  }

  .alert-container {
    font-style: italic;
    font-size: 0.75em;
    margin-top: 0.5em;
  }

  .error {
    color: var(--red);
  }

  .accordion-component {
    border: none;
  }

  .icon-promo {
    margin-right: 0.5rem;
  }

  .promo-accordion-title {
    display: flex;
    align-items: center;
  }

  .accordion-content {
    margin-bottom: 1.25rem;
  }
}
