.header {
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}

.nav-wrapper {
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  .logo-container {
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  .nav-links {
    display: flex;
    align-items: center;

    .right {
      justify-content: flex-end;
    }
  }

  .nav-link {
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .nav-icon {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .nav-wrapper {
    .nav-link {
      padding: 10px;
    }
  }
}
