.header {
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}

.nav-wrapper {
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  .logo-container {
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 800px) {
  .nav-wrapper {
    .options {
      width: 80%;

      .option {
        padding: 10px;
      }
    }
  }
}
