.cart-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 0.75rem;
  border-bottom: 1px solid var(--primary-15);

  &:last-of-type {
    border-bottom: none;
  }

  img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    background-color: var(--primary-07);
    border-radius: 2px;
    display: block;
    padding: 0.5rem;
  }

  .item-info {
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding-left: 0.75rem;
  }

  .text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    padding-right: 1rem;
  }

  .item-detail {
    color: var(--primary-65);
    font-size: 0.75rem;
    margin-top: 0.1875rem;
  }

  .delete-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.125rem 0.25rem 0.25rem;

    &:focus,
    &:hover {
      [class*="icon-"] {
        stroke: var(--primary-85);
      }
    }

    [class*="icon-"] {
      width: 0.875rem;
      height: 0.875rem;
      transition: stroke 0.1s;
      stroke: var(--primary-50);
      stroke-width: 1px;
    }
  }
}

@media (max-width: 430px) {
  .cart-item {
    padding: 0.75rem 1.5rem;
  }
}
