$tab-width: 8rem;

.sign-in-and-sign-up {
  margin: 0;
  background: var(--primary-07);
  padding-top: var(--window-top);
  padding-bottom: var(--window-bottom);

  .sign-in-window {
    max-width: 30rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;

    background: #fff;
    box-shadow: var(--box-shadow);
  }

  .sign-in-content {
    padding: 0rem 2rem 2rem;
  }

  .tabs-container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--primary-10);
  }

  .tabs-inner {
    position: relative;
    display: inline-block;
    width: calc(#{$tab-width} * 2);

    &:after {
      content: "";
      position: absolute;
      height: 4px;
      width: $tab-width;
      background-color: var(--accent-100);
      bottom: 0;
      transition: left 0.5s;
    }

    &.sign-in {
      &:after {
        left: 0;
      }
    }

    &.sign-up {
      &:after {
        left: $tab-width;
      }
    }
  }

  .tab {
    border: none;
    outline: none;
    padding: 1rem;
    font-family: var(--font-text);
    font-weight: bold;
    // font-size: 1.125rem;
    font-size: 1rem;
    width: $tab-width;
    color: var(--primary-30);
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
      background-color: var(--primary-03);
      color: var(--primary-40);
    }

    // disabled = active button
    &:disabled {
      background-color: #fff;
      color: var(--primary-90);
      cursor: unset;
    }
  }
}

@media (max-width: 500px) {
  .sign-in-and-sign-up {
    .sign-in-content {
      padding: 0rem 2rem 2rem;
    }
  }
}
@media (max-width: 400px) {
  .sign-in-and-sign-up {
    .background-screen {
      padding: 2rem 3.5%;
    }
  }
}
