.directory-menu {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 400px);
}

@media (max-width: 1320px) {
  .directory-menu {
    grid-gap: 2.5vw;
  }
}

@media (max-width: 950px) {
  .directory-menu {
    grid-template-rows: repeat(3, 42vw);
  }
}

// switch to single column
@media (max-width: 700px) {
  .directory-menu {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 425px);
    grid-gap: 1.5rem;
  }
}
