$ribbonwidth: 3rem;
$ribbonbottom: 15px;

.about-component {
  background-color: var(--accent-20);
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .about-content {
    padding: 8rem 3rem 6rem;
    max-width: 49rem;
  }

  .ribbon-container {
    height: 100px;
    overflow: hidden;
    position: absolute;
  }

  .ribbon {
    position: relative;
    width: $ribbonwidth;
    height: 5.56rem;
    margin-top: -2rem;
    background: var(--primary-80);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0.5rem;
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    visibility: hidden;

    &:after,
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: -$ribbonbottom;
      border-top: $ribbonbottom solid transparent;
      border-bottom: $ribbonbottom solid transparent;
      z-index: -1;
    }

    &:before {
      left: 0;
      border-left: 2.75rem solid var(--primary-80);
    }

    &:after {
      right: 0;
      border-right: 2.75rem solid var(--primary-80);
    }

    &.visible {
      animation-name: bounceInDown;
      visibility: visible;
    }
  }

  .icon-logomark {
    width: 28px;
    height: 16px;
    color: #fff;
  }
}

@media (max-width: 711px) {
  .about-component {
    .about-content {
      padding: 7rem 1.5rem 5rem;
      max-width: 605px;
    }
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -1000px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
