.select-component {
  $border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;

  .select-header {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: var(--font-bold);
    color: var(--primary-85);

    &.open {
      border-color: var(--primary-85);
    }
  }

  .select-header-text,
  .arrow-button {
    pointer-events: none;
  }

  .select-list {
    position: absolute;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    z-index: 1;
    top: 1.75rem;
    right: 0;
    border: 1px solid var(--primary-15);
    border-radius: $border-radius;
    font-weight: var(--font-normal);
  }

  .select-list-item {
    list-style: none;
    padding: 0.5rem 1rem;
    white-space: nowrap;

    &:hover {
      background-color: var(--primary-05);
    }

    &.selected {
      background-color: var(--primary-05);
    }

    &:first-of-type {
      border-radius: $border-radius $border-radius 0 0;
      padding-top: 0.75rem;
    }
    &:last-of-type {
      border-radius: 0 0 $border-radius $border-radius;
      padding-bottom: 0.75rem;
    }
  }
}
