// .sort-by {
//   margin-bottom: 1rem;
//   border: 1px solid var(--primary-20);
//   border-radius: 5px;
//   cursor: pointer;
//   font-family: var(--font-text);
//   padding: 0.5rem;
//   font-size: 0.9rem;
//   width: 210px;
//   position: relative;

//   select {
//     display: none;
//   }
// }
.sortby-component {
  .sortby-header {
    margin-bottom: 0.8em;
    padding: 0.4em 2em 0.4em 1em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 1.3rem;
    color: #3faffa;
    background: #ffffff;
  }

  .sortby-list {
    padding: 0;
    margin: 0;
    padding-left: 1em;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    color: #3faffa;
    font-size: 1.3rem;
    font-weight: 500;

    &:first-child {
      padding-top: 0.8em;
    }
  }

  .sortby-list-item {
    list-style: none;
    margin-bottom: 0.8em;
  }
}
