$border-radius: 5px;
$select-height: 45px;

.select-component {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  cursor: pointer;

  .select-header {
    padding: 0 1rem;
    border: 1px solid var(--primary-20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $border-radius;
    position: relative;
    height: $select-height;
    font-weight: bold;
    color: var(--primary-80);

    &.open {
      border-color: var(--primary-85);
    }
  }

  .select-header-text,
  .arrow-button {
    pointer-events: none;
  }

  .select-list {
    position: absolute;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    z-index: 1;
    width: calc(100% + 2px);
    top: $select-height;
    left: -1px;
    border: 1px solid var(--primary-20);
    border-radius: $border-radius;
    font-weight: normal;
  }

  .select-list-item {
    list-style: none;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: var(--primary-05);
    }

    &.selected {
      background-color: var(--primary-05);
    }

    &:first-of-type {
      border-radius: $border-radius $border-radius 0 0;
    }
    &:last-of-type {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }
}
