$label-width: 8rem;
$details-width: calc(100% - #{$label-width});

.confirmation-page {
  padding-top: var(--window-top);
  padding-bottom: var(--window-bottom);
  background-color: var(--primary-07);

  .inner-window {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    max-width: 40rem;
    margin: 0 auto;
  }

  .inner-container {
    padding: 1.5rem;

    &:first-of-type {
      border-bottom: 1px solid var(--primary-20);
    }
  }

  .title {
    font-size: 2rem;
  }

  .order-details {
    .label {
      flex-basis: $label-width;
    }

    .details {
      flex-basis: $details-width;
      padding-left: 2rem;
    }
  }

  .order-detail {
    width: 100%;
    display: flex;
    padding-bottom: 2rem;

    > .label {
      font-weight: var(--font-bold);
      text-align: right;

      &:not(:last-of-type) {
        position: relative;
        top: 3px;
      }
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .promo {
    color: var(--red);
  }

  .order-details-inner {
    width: $details-width;
    padding-left: 2rem;

    > li {
      width: 100%;
      display: flex;

      &:not(:last-of-type) {
        padding-bottom: 1rem;
      }
    }

    .details {
      text-align: right;
      font-weight: var(--font-bold);
    }

    .subtotal,
    .total {
      font-weight: var(--font-bold);
    }

    .tax,
    .total {
      padding-top: 1rem;
      border-top: 1px solid var(--primary-20);
    }
  }
}

@media (max-width: 550px) {
  .confirmation-page {
    .inner-container {
      padding: 1rem;
    }

    .order-detail {
      display: block;
    }

    .order-detail {
      > .label,
      > .details {
        padding-left: 0;
        display: block;
      }

      > .label {
        text-align: left;
        padding-bottom: 0.5rem;
      }
    }

    .order-details-inner {
      padding-left: 0;
      width: 100%;
      margin-top: 1rem;
      border-top: 1px solid var(--primary-20);
      padding-top: 1rem;

      .details {
        padding-left: 0;
      }
    }
  }
}
