@import "../../sharedStyles/breakpoints.scss";
@import "../../sharedStyles/functions.scss";

.vidbanner-wrapper {
  height: 35vw;
  max-height: 730px;
  min-height: 550px;
  position: relative;
  background-color: var(--primary-07);
  overflow: hidden;
  max-width: var(--max-element-width);
  margin: 0 auto;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    left: 0;
    top: 0;
  }

  .content-wrapper {
    color: var(--white);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .video-title {
    font-size: scaleValue(40px, 50px, 1001px, 1550px);
    margin: 0.75rem 0 1.25rem;
  }

  .custom-button {
    align-self: center;
    color: var(--primary-80);
  }

  .spinner-overlay {
    height: 100%;
  }
}

@media (max-width: $tablet) {
  .vidbanner-wrapper {
    min-height: 500px;
  }
}

@media (max-width: 500px) {
  .vidbanner-wrapper {
    height: calc(100vh - var(--nav-height));
    max-height: 600px;

    .video-title {
      font-size: 8vw;
    }
  }
}
