@import "../../../../sharedStyles/breakpoints.scss";

.hero-slideshow {
  --vw-range-desktop: ((100vw - 1500px) / (1760 - 1500));
  position: relative;
  height: 51vw;
  max-height: 1100px;
  min-height: 750px;
  max-width: 2600px;
  margin: 0 auto;

  .placeholder-img-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(24px);
    }

    .hero-image {
      object-position: 50% 60%;
    }
  }

  .transition-wrapper-exit {
    opacity: 1;
  }

  .transition-wrapper-exit-active {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  [class^="slide-"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.75s ease-out;

    &.inactive {
      opacity: 0;

      .hero-image {
        transform: scale(1.1);
        transition-delay: 1s;
      }

      .heading-line,
      .subtitle,
      .hero-slide-cta-link {
        transform: translate3d(0, 100%, 0);
        transition-delay: 1s; // wait 1s to revert to original state after transitioning to next slide
        opacity: 0;
      }
    }

    &.active {
      z-index: 1;

      .hero-image {
        transition: transform 0.75s ease-out;
        transform: scale(1);
      }

      .heading-line,
      .subtitle,
      .hero-slide-cta-link {
        transition: transform 0.5s ease-out, opacity 1s ease-out;
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }

      .subtitle {
        transition-delay: 0.75s;
      }

      .heading-line {
        transition-delay: 1s;
      }

      .hero-slide-cta-link {
        &.short-delay {
          transition-delay: 1.25s;
        }

        &.long-delay {
          transition-delay: 1.5s;
        }
      }
    }
  }

  .heading-line-container,
  .heading-line {
    display: block;
  }

  .heading-line-container {
    &:nth-of-type(2) {
      .heading-line {
        transition-delay: 1.25s;
      }
    }
  }

  .hero-slide-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--primary-07);
  }

  .content-outer-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .hero-slide-heading {
    // min font size is 42px when viewport is 1500px. Max font size is 50px when viewport is 1760px
    font-size: clamp(
      42px,
      calc(42px + (50 - 42) * var(--vw-range-desktop)),
      50px
    );
    line-height: clamp(
      49px,
      calc(49px + (57 - 49) * var(--vw-range-desktop)),
      57px
    );
    margin-top: 0;
    margin-bottom: 0.82rem;
    font-weight: var(--font-medium);
  }

  .subtitle {
    margin-bottom: 0.75rem;
  }

  .hero-slide-cta-link-wrapper {
    display: inline-block;
  }

  .hero-slide-cta-link {
    display: inline-block;
    font-weight: var(--font-bold);
    border-bottom: 1.25px solid;
    font-size: clamp(
      15px,
      calc(15px + (17 - 15) * var(--vw-range-desktop)),
      17px
    );
    line-height: clamp(
      15px,
      calc(15px + (17 - 15) * var(--vw-range-desktop)),
      17px
    );
  }

  .slide-1,
  .slide-3 {
    text-align: center;
  }

  .page-width-container {
    height: 100%;
  }

  .slide-1 {
    .content-inner-wrapper {
      margin: 0 auto;
      height: 35%;
      display: grid;
      place-content: center;
    }

    .hero-slide-heading {
      margin-bottom: 0.7rem;
    }
  }

  .slide-2 {
    .content-inner-wrapper {
      color: var(--primary-07);
      margin: 6.25% auto 0;
    }
    .subtitle {
      color: var(--white);
    }

    .hero-image {
      object-position: 25% 60%;
    }
  }

  .slide-3 {
    .content-inner-wrapper {
      display: grid;
      place-content: center;
      height: 35%;
    }

    .hero-slide-heading {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 2400px) {
  .hero-slideshow {
    .slide-1 {
      .content-inner-wrapper {
        height: 38%;
      }
    }
  }
}

@media (max-width: 1840px) {
  .hero-slideshow {
    .slide-2 {
      .content-inner-wrapper {
        margin-top: clamp(
          60px,
          calc(60px + (90 - 60) * ((100vw - 1470px) / (1839 - 1470))),
          90px
        );
      }
    }
  }
}

@media (max-width: $tablet) {
  .hero-slideshow {
    --vw-range-tablet: ((100vw - 700px) / (1000 - 700));
    max-height: 750px;
    min-height: 600px;
    height: 75vw;

    .subtitle {
      margin-bottom: 0.675rem;
    }

    .hero-slide-heading {
      font-size: clamp(
        35px,
        calc(35px + (42 - 35) * var(--vw-range-tablet)),
        42px
      );
      line-height: clamp(
        42px,
        calc(42px + (49 - 42) * var(--vw-range-tablet)),
        49px
      );
      margin-bottom: 0.75rem;
    }

    .slide-1 {
      .content-inner-wrapper {
        height: 42%;
      }
    }

    .slide-2 {
      .hero-image {
        object-position: left;
      }

      .content-inner-wrapper {
        height: 40%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .hero-slide-heading {
        margin-bottom: 0.875rem;
      }
    }

    .slide-3 {
      .hero-image {
        object-position: bottom;
      }

      .content-inner-wrapper {
        height: 38%;
      }

      .hero-slide-heading {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 700px) {
  .hero-slideshow {
    .slide-3 {
      .content-inner-wrapper {
        height: 45%;
      }
    }
  }
}

@media (max-width: 500px) {
  .hero-slideshow {
    --vw-range-mobile: ((100vw - 350px) / (500 - 350));
    min-height: 500px;
    height: calc(100vh - var(--nav-height)); // fallback for dvh
    height: calc(100dvh - var(--nav-height));
    max-height: 800px;

    .hero-slide-heading {
      font-size: clamp(
        30px,
        calc(30px + (35 - 30) * var(--vw-range-mobile)),
        35px
      );
      line-height: clamp(
        37px,
        calc(37px + (42 - 37) * var(--vw-range-mobile)),
        42px
      );
      margin-bottom: 0.675rem;
    }

    .slide-1 {
      .content-inner-wrapper {
        padding: 0;
        height: 62%;
        display: grid;
        place-content: center;
      }

      .hero-slide-cta-link {
        a {
          display: inline-block;
        }
      }
    }

    .slide-2 {
      .hero-image {
        object-position: bottom;
      }

      .content-inner-wrapper {
        height: 48%;
      }

      .hero-slide-heading {
        margin-bottom: 0.75rem;
      }
    }

    .slide-3 {
      .content-inner-wrapper {
        height: 50%;
      }

      .hero-slide-heading {
        margin-bottom: 0.875rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .hero-slideshow {
    .slide-3 {
      .content-inner-wrapper {
        height: 60%;
      }
    }
  }
}
